.DS_Store
../.DS_Store
../.Trash/
../.BrowserLock/
../.CFUserTextEncoding
../.bash_history
../.bash_profile
../.bash_sessions/
../.bidstack-device-id
../.config/
../.cups/
../.cursor-tutor/
../.cursor/
../.gitconfig
../.profile
../.ssh/
../.vscode/
../Applications/
../Desktop/
../Documents/
../Downloads/
../IT/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
../aws-course/
